.container {
  /* padding: 0 2rem; */
  background-image: linear-gradient(to bottom, #051937, #04224e, #082a66, #15337e, #273a96);
  color: white;
  text-align: center;
}

.main {
  min-height: 100vh;
  max-height: 100vh;
  padding: 4rem 0;


  display: grid;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1em;
}

.taskForm {
  min-width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: repeat(2, auto); */
  column-gap: 1em;

  justify-content: center;
  align-items: center;
}

.taskFormInput {
  min-width: 20em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

/* .taskFormInput:hover {
  -webkit-box-shadow:0px 2px 1px white;
 -moz-box-shadow:0px 2px 1px white;
 box-shadow:0px 2px 1px white;
} */

.taskFormInput:focus {
  outline: none;
}

.formBtn {
  background-color: #0F3460;
  color: white;
  border: 1px solid white;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  width: fit-content;
}

.formBtn:hover {
  background-color: white;
  color: #0F3460;
  border: 1px solid #0F3460;
}

.errorSpan {
  background-color: red;
}

.tasksContainer {
  max-height: 575px;
  overflow-y: scroll;
  min-width: 40%;
  justify-self: center; 
}

.taskItem {
  background-color: #0f69ab;
  color: white;
}

.noteInput {
  min-width: 100%;
  border-radius: 24px;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid white;
  /* background-color: transparent; */
}

.noteInput:focus {
  outline: none;
  border: 1px solid white;
}

.notesHeader {
  display: grid;
  grid-template-columns: 50% 50%;
}

.notesHeader h2 {
  text-align: left;
}

.notesForm {
  display: grid;
  grid-template-columns: 80% 20%;
  /* column-gap: 1em; */
}

.notesBtn {
  justify-self: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

